<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1362G5R74P"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1362G5R74P');
  </script>

  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="description" content="Yuchen Lin's personal website. I am a third-year undergraduate student at Peking University, majoring in Artificial Intelligence in Zhi Class." />
  <meta name="keywords" content="Yuchen Lin, 林宇辰, Peking University, PKU, 北大, Artificial Intelligence, Zhi Class, Computer Vision, 3D generation" />

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="icon.png" type="image/png"> 
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Yuchen Lin | 林宇辰
              </h1>
                Hi there! I am <b>Yuchen Lin</b>, 
                a third-year undergraduate student at <a class="news_style" href="https://english.pku.edu.cn/">Peking University</a>, 
                majoring in <a class="news_style" href="https://eecs.pku.edu.cn/en/Education/Programs.htm">Artificial Intelligence</a> 
                in <a class="news_style" href="https://zhi-class.ai/">Zhi Class</a> (an honors program directed by Prof. <a class="news_style" href="https://baoquanchen.info/">Baoquan Chen</a>) of <a class="news_style" href="https://eecs.pku.edu.cn/en/">EECS School</a>.
                I am also double-majoring in <a class="news_style" href="https://en.nsd.pku.edu.cn/programs/doublemajor/index.htm">Economics</a> at <a class="news_style" href="https://en.nsd.pku.edu.cn/">National School of Development</a>.
                I am honored to be advised by Prof. <a class="news_style" href="http://www.muyadong.com/">Yadong Mu</a> in <a class="news_style" href="https://www.wict.pku.edu.cn/english/home/index.htm">Wangxuan Institute of Computer Technology</a>, <a class="news_style" href="https://english.pku.edu.cn/">Peking University</a>.
                I have spent a wonderful semester at <a class="news_style" href="https://cs.cmu.edu/">School of Computer Science</a> of <a class="news_style" href="https://cmu.edu/">Carnegie Mellon University</a> as a visiting student. 
                Since then, I have been working closely with Prof. <a class="news_style" href="https://www.cs.cmu.edu/~katef/">Katerina Fragkiadaki</a> in <a class="news_style" href="https://www.ml.cmu.edu/">Machine Learning Department</a>, <a class="news_style" href="https://cmu.edu/">Carnegie Mellon University</a>. 

                <p>
                  Email: linyuchen [at] stu.pku.edu.cn &nbsp; / &nbsp; yuchenlin0612 [at] gmail.com
                </p>
                
              <p style="text-align:center">
                <!-- <a class="news_style" target="_blank" href="mailto:linyuchen@stu.pku.edu.cn"> Email</a> &nbsp;/&nbsp; -->
                <a class="news_style" href="https://github.com/wgsxm">GitHub</a> &nbsp;/&nbsp;
                <a class="news_style" href="https://scholar.google.com/citations?user=fBAKIvgAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a class="news_style" href="wechat.html"> WeChat </a>
              </p>
            </td>
            <td style="padding:2.5%;width:30%;max-width:40%;text-align: center;">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/avatar.jpg">
              <!-- <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fwgsxm.github.io&count_bg=%23EBC89F&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/></a> -->
            </td>
          </tr>
        </table>

        <!-- News -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <ul style="line-height: 1.8;">
                <li>
                  [2025/01] One paper about 3D dynamics generation (<a href="/projects/omniphysgs/">OmniPhysGS</a>) is accepted by <b>ICLR</b> 2025. 
                </li>
                <li>
                  [2024/08] I come to <a href='https://cmu.edu'>CMU</a> as a visiting student in <a href='https://cs.cmu.edu/'>School of Computer Science</a>. 
                </li>
              </ul>
            </td>
          </tr>
        </table>
        
        <!-- Research -->
        <table style="margin-top:-20px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                My research interests lie in Computer Vision, epecially in the field of 3D asset understanding and generation.
              </p>
              <i>*: equal contribution</i>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            {% if post.image %}
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            {% endif %}
            {% if post.video %}
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <video src="{{post.video}}" style="width:auto; height:auto; max-width:100%;" autoplay loop muted></video>
            </td>
            {% endif %}
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              {% if post.website %}
              <h3><a href="{{post.website}}">{{post.title}}</a></h3>
              {% else %}
                {% if post.arxiv %}
                <h3><a href="{{post.arxiv}}">{{post.title}}</a></h3>
                {% else %}
                <h3><a href="{{post.pdf}}">{{post.title}}</a></h3>
                {% endif %}
              {% endif %}
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>{% if post.venue_short %} (<b>{{post.venue_short}}</b>){% endif %}, {{ post.date | date: "%Y" }}
              <br>
              {% if post.note %}
              {{ post.note }}<br>
              {% endif %}
              
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.image %}
                {% if post.video %}
                <a href="{{post.video}}">video</a> /
                {% endif %}
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <!-- Project -->

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <p> These include coursework and other projects that I have worked on.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'project' %}
          <tr>
            {% if post.image %}
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            {% endif %}
            {% if post.video %}
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <video src="{{post.video}}" style="width:auto; height:auto; max-width:100%;" autoplay loop muted></video>
            </td>
            {% endif %}
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              {% if post.website %}
              <h3><a href="{{post.website}}">{{post.title}}</a></h3>
              {% else %}
                {% if post.arxiv %}
                <h3><a href="{{post.arxiv}}">{{post.title}}</a></h3>
                {% else %}
                <h3><a href="{{post.pdf}}">{{post.title}}</a></h3>
                {% endif %}
              {% endif %}
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.note %}
              {{ post.note }}<br>
              {% endif %}
              {% if post.pdf %}
              <a href="{{post.pdf}}">pdf</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.image %}
                {% if post.video %}
                <a href="{{post.video}}">video</a> /
                {% endif %}
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              {% if post.misc_name %}
              <a href="{{post.misc_link}}">{{post.misc_name}}</a> /
              {% endif %}

              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> 


        <!-- Experience -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Experiences</h2>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'experience' %}
          <tr>
            <td style="padding-left:30px;width:18%;vertical-align:middle;">
              <img src="{{post.image}}" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:5%;width:85%;vertical-align:middle">
              <h3><a href="{{post.website}}"> {{post.institution}} </a></h3> <br>
              {% if post.secondary_institution %}
              <h3> <i>{{post.secondary_institution}}</i> </h3> <br>
              {% endif %}
               <em>
                {{post.date_start | date: "%Y.%m"}} - 
                {% if post.date_end %}
                {{post.date_end | date: "%Y.%m"}}
                {% else %}
                Present
                {% endif %}
              </em><br>  
              <strong> {{post.position}} </strong> <br> 
              {% if post.research_advisor %}
                Research Advisor: {{post.research_advisor}} <br>
              {% endif %}
              {% if post.academic_advisor %}
                Academic Advisor: {{post.academic_advisor}} <br>
              {% endif %}
              {% if post.note %}
                {{post.note}} <br>
              {% endif %}
              {% if post.more_info %}
                {{post.more_info}} <br>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

         <!-- Service -->
         <table style="margin-top:-20px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Services</h2>
              <ul>
                <li>
                  I was the deputy director of the student union operations department in EECS School, Peking University.
                </li> <br>
                <li>
                  I serve as a volunteer member of the Peking University admissions team every year. 
                </li>
              </ul>
            </td>
          </tr>
        </table>

         <!-- Awards -->
         <table style="margin-top:-20px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Awards</h2>
              <ul>
                
                <li>
                  2024: <b>Award for Scientific Research</b>, Peking University
                </li> <br>

                <li>
                  2024: Zhi Class Scholarship
                </li> <br>

                <li>
                  2023: Robin Li Scholarship (25 awards per year in Peking University)
                </li> <br>

                <li>
                  2023: Merit Student, Peking University
                </li> <br>

                <li>
                  2022: <b><a href="http://fuguangfoundation-fj.cnweb.cn/Scholar/Inner/1333">XiaoSong Scholarship</a> of Fuguang Foundation</b> (<b>4</b>/200k+ every year in Fujian Province)
                </li> <br>

                <li>
                  2020: First Prize, China Physics Olympiad (Fujian Province)
                </li> 
                
              </ul>
            </td>
          </tr>
        </table>

         <!-- Awards -->
         <table style="margin-top:-20px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Miscellaneous</h2>
              <ul>
                
                <li>
                  I love soccer. See how our team <a href="/videos/soccer_fzyz.mp4">lifted the championship trophy 🏆 (a video with audio)</a> in my high school, 2020, 
                  and <a href="/images/soccer_pku.jpg">achieved the runner-up 🥈</a> in the freshman cup of Peking University, 2022!
                </li> 

                <br>
                <li>
                  I am a big fan of <a href="https://www.realmadrid.com/en-US">Real Madrid</a>. 
                  See <a href="/images/soccer_rm.jpg">my friends and I</a> when we watched Madrid win the 2024 Champions League final. 
                  Many of them are fans of Barcelona! 😈
                </li> 
                
              </ul>
            </td>
          </tr>
        </table>

        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="10">
                    <tbody>
                    <tr>
                        <td style="padding:0px;width:23%;vertical-align:left">
                            <br>
                            <div style="width: 50%; text-align: center; margin: 0 auto;">
                              <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=YRgAb_PMJ3KdkDivtbQOJWfG72zghinMkW0Nlti-3p0&cl=ffffff&w=a"></script>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                
                © Yuchen Lin | Last update:  {{ site.time | date: "%Y/%m/%d" }}
                </p>
                <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a> and <a style="font-size:small;" href="https://github.com/leonidk/leonidk.github.io">Leonid Keselman's Jekyll fork</a>. 
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

